@charset "utf-8";

body {
    position: relative;
    padding-top: 80px;
}

div#about, div#skills, div#contact {
    margin-top: 25px;
    margin-bottom: 45px;
}

div#about header, div#skills header, div#contact header {
    margin-bottom: 30px;
}